/*

!/.dockerignore
!/.env.example
!/.editorconfig
!/.eslintignore
!/.eslintrs
!/.gitignore

!/config/
!/database/
!/public
!/src


!/docker-compose.yml
!/Dockerfile
!/favicon.ico
!/package.json
!/README.md
!/yarn.lock
