/*

!/.dockerignore
!/.env.example
!/.editorconfig
!/.eslintignore
!/.eslintrc
!/.gitignore

!/.github/
!/config/
!/database/
!/public/
!/src/

!/docker-compose.yml
!/Dockerfile
!/favicon.png
!/package.json
!/README.md
!/yarn.lock
